
.vs/TitansComic/v15/.suo
*.ide
bin/Debug/book.mark
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
bin/Debug/book.mark
*.cache
*.mark
*.ide
.vs/TitansComic/v15/.suo
